<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <title>draw</title>
</head>
<body>
    <div class="top-bar">
        <div class="logo"><a class="title-link" href="../index.html">MolDescriptor</a></div>
        <div class="links">
            <a href="draw.html" class="draw-link">DRAW</a>
            <a href="docs.html" class="docs-link">DOCS</a>
            <a href="about.html" class="about-link">OM</a>
        </div>
    </div>
</body>
</html>