body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title-link {
    text-decoration: none;
    color: #ffa500;
    font-weight: bold;
    font-size: 20px;
}

.container {
    display: flex;
    height: 100vh;
}

.toc {
    background-color: #fff;
    width: 600px;  /* Adjust this value to your desired width */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
}


.toc h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.toc ul {
    list-style-type: none;
    padding-left: 0;
}


.toc li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.toc a {
    text-decoration: none;
    color: #333;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.4;
}

.top-bar {
    background-color: #3a3a3a;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 18px;
    font-weight: bold; 
    margin-left: 20px; 
}

.links {
    text-align: center; 
}

.links a {
    color: #ffa500;
    text-decoration: none;
    margin: 0 20px;
}

.links a:hover {
    text-decoration: underline;
}


h2 {
    font-size: 18px;  
}

.content h2 {
    font-size: 18px;
}

/* Increase space between main sections */
.toc > ul > li {
    margin-bottom: 0;
    margin-left: 0;
}

/* Indent and adjust font size of subsections */
.toc > ul > li > ul {
    margin-left: 20px;
}

/* Bullet points for subsections */
.toc li > ul > li::before {
    content: "•"; /* Bullet point */
    display: inline-block;
    margin-right: 5px;
}

/* Indentation for subsections */
.toc li > ul {
    margin-left: 15px;
}

/* Adjust font size of subsections */
.toc li > ul > li > a {
    font-size: 0.85em;
}

.toc > ul > li > ul > li::before {
    content: "•";  /* This is the bullet point */
    display: inline-block;
    margin-right: 5px;
    margin-left: -15px; /* This pulls the bullet point to the left */
}

.toc > ul > li > ul > li > ul {
    margin-left: 20px;
}

.toc > ul > li > ul > li > ul > li::before {
    content: "•";  
    display: inline-block;
    margin-right: 5px;
    margin-left: -15px; 
}