body, html {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.app-description {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center; 
}


.top-bar {
    background-color: #3a3a3a;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.title-link {
    text-decoration: none;
    color: #ffa500;
    font-weight: bold;
    font-size: 20px;
}

.links a {
    color: #ffa500;
    text-decoration: none;
    margin: 0 20px;
}

.links a:hover {
    text-decoration: underline;
}

.form-container {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin: 40px auto;
    padding: 20px;
    max-width: 750px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.subheader {
    color: #333;
    font-size: 34px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.mol {
    color: #FF8A00;
    font-size: 40px;
}

.descriptor {
    color: #333;
    font-size: 40px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.tabs {
    border-bottom: 1px solid #e0e0e0;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tab-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 5px;
    color: #777;
    flex: 1;
    text-align: center;
    border: 1px solid transparent;
    transition: color 0.3s, border-color 0.3s;
}

.tab:hover {
    color: #555;
}

.tab.active {
    color: #333;
    font-weight: bold;
    border-bottom-color: #ffa500;
    border-bottom: 3px solid #ffa500;
}

.tab-content .checkbox-container {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;


}

label {
    display: block;
    margin-bottom: 10px;
}

.button-group {
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #ffa500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
}


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #e0e0e0;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f7f7f7;
}


/* For drawing page */
.iframe-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-top: 5px;
}

/* For about page */

.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.content h1,
.content h2,
.content h3 {
    margin-top: 24px;
    margin-bottom: 16px;
}

.content h1 {
    font-size: 28px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.content h2 {
    font-size: 24px;
}

.content h3 {
    font-size: 20px;
}

.content p {
    margin: 20px 0;
}

.content ul,
.content ol {
    margin: 20px;
    padding-left: 40px;
}

.content li {
    margin: 8px 0;
}

.content a {
    color: #007bff;
    /* markdown link color */
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content code {
    background-color: #f4f4f4;
    padding: 2px 5px;
    font-family: "Courier New", Courier, monospace;
}

.content pre {
    background-color: #f4f4f4;
    padding: 10px;
    overflow-x: auto;
}

.content blockquote {
    border-left: 4px solid #e0e0e0;
    padding: 0 20px;
    color: #777;
}

.special-checkbox {
    margin: 20px 0;
}

.special-checkbox label {
    background-color: #e7e7e7;
    padding: 5px 10px;
    border-radius: 4px;
}

.special-checkbox input[type="checkbox"] {
    margin-right: 10px;
}

.rdkit-badge {
    display: grid;
    place-items: center;
    height: 5%;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between input field and button group */
}

input[type="text"] {
    flex-grow: 1; /* Allows the input field to take up available space */
    margin-right: 10px; /* Space between the input field and the submit button */
}

.button-group > * {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    line-height: normal;
    margin-right: 10px; /* Space between buttons */
    text-align: center;
}

.button-group > *:hover {
    background-color: #e69500;
}

/* Styling for the label used as the 'Upload CSV' button */
.file-upload-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px 20px; /* Same padding as other buttons */
    border-radius: 4px;
    background-color: #ffa500;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: normal;
    margin-right: 10px; /* Consistent margin with other buttons */
    text-decoration: none; /* In case it's styled as a link */
}

.file-upload-label:hover {
    background-color: #e69500;
}

/* Hide the actual file input */
#csvFile {
    display: none;
}

.search-description {
    font-size: 14px; /* Example font size */
    color: #555; /* Example text color */
    margin-bottom: 10px; /* Spacing below the text */
    text-align: left; /* Align text to the left */
}

#searchBar {
    background-color: #e7e7e7; /* Light grey background */
    border: 2px solid #333; /* Darker border */
    padding: 8px; /* More padding */
    margin-bottom: 15px; /* Spacing below the input field */
}

.draw-button-active {
    background-color: #ce890a; /* Slightly different shade to indicate active state */
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /* Inward shadow for depth */
    border: 1px solid #d58500; 
}

.draw-button, .draw-button-active {
    width: 170px; /* Set a fixed width -> Temporary change so that the button has the same width when pressed */
}