<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <title>about</title>
</head>
<body>
    <div class="top-bar">
        <div class="logo"><a class="title-link" href="{{ url_for('index') }}">MolDescriptor</a></div>
        <div class="links">
            <a href="{{ url_for('draw') }}" class="draw-link">DRAW</a>
            <a href="{{ url_for('docs') }}" class="docs-link">DOCS</a>
            <a href="{{ url_for('about') }}" class="about-link">ABOUT</a>   
        </div>
    </div>
    <div class="content">
        <!-- Markdown-like content -->
        <h1>About MolDescriptor</h1>
        <p>MolDescriptor is a simple tool for anyone who wants to know more about molecules. You just enter details about a molecule, and our website tells you about its properties, like its weight or how it might behave in water.</p>
        <h2>RDkit</h2>
        <p>We are using RDkit to calculate the molecular properties. RDKit is a collection of cheminformatics and machine-learning software written in C++ and Python. </p>
        <p><b>RDkit documentation</b></p>
        <p>You can find the RDkit documentation on their website: <a href="https://rdkit.org/docs/index.html">https://rdkit.org/docs/index.html</a></p>
        <h2>We're Open Source</h2>
        <p>This means anyone can see how our website works and even make it better. If you know how to code and want to help, you can! Plus, using our website is completely free.</p>
    
        <h2>Credits & Acknowledgments</h2>
    
        <p>We're grateful to the following projects and contributors for their code and resources:</p>
        
        <ul>
            <li>
                <strong><a href="https://github.com/ruthbrenk/compound_preparation">Compound preparation</a></strong> by <a href="https://github.com/ruthbrenk">ruthbrenk</a><br>
                Used for pH calcualtions.
            </li>
            
            
            <!-- ... other credits ... -->
        </ul>
    </div>
    
</body>
</html>