<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <title>Documentation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/docs.css') }}">
</head>
<body>
    <div class="top-bar">
        <div class="logo"><a class="title-link" href="{{ url_for('index') }}">MolDescriptor</a></div>
        <div class="links">
            <a href="{{ url_for('feedback') }}" class="feedback-link">FEEDBACK</a>
            <a href="{{ url_for('draw') }}" class="draw-link">DRAW</a>
            <a href="{{ url_for('docs') }}" class="docs-link">DOCS</a>
            <a href="{{ url_for('about') }}" class="about-link">ABOUT</a>   
        </div>
    </div>
    <div class="container">
        <aside class="toc">
            <h2>Table of Contents</h2>
            <ul>
                <li><a href="#section1"><b>Using MolDescriptor</b></a>
                    <ul>
                        <li><a href="#subsection1-1">Calculating molecular data from input the field</a></li>
                        <li><a href="#subsection1-2">Calculating molecular data from uploading a CSV</a></li>
                        <li><a href="#subsection1-3">Downloading the results as a CSV</a></li>
                    </ul>
                </li>
                <li><a href="#section2"><b>Descriptors</b></a>
                    <ul>
                        <li><a href="#subsection2-0">Processing and Visualization Options</a>
                            <ul>
                                <li><a href="#exclude-smiles">Exclude Invalid SMILES from result</a></li>
                            </ul>
                            <ul>
                                <li><a href="#display-molecule">Display Molecule</a></li>
                            </ul>
                        </li>
                        <li><a href="#subsection2-1">RDkit Chem</a>
                            <ul>
                                <li><a href="#molecular-weight">Molecular Weight</a></li>
                            </ul>
                            <ul>
                                <li><a href="#PSA">Polar Surface Area (PSA)</a></li>
                            </ul>
                            <ul>
                                <li><a href="#QED">QED (Quantitative Estimation of Drug-likeness)</a></li>
                            </ul>
                            <ul>
                                <li><a href="#numAtoms">Number of Atoms</a></li>
                            </ul>
                            <ul>
                                <li><a href="#SASA">Solvent Accessible Surface Area (SASA)</a></li>
                            </ul>
                        </li>
                        <li><a href="#subsection2-2">RDkit Crippen</a>
                            <ul>
                                <li><a href="#clogP">clogP</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#section3">Section 3</a></li>
            </ul>
        </aside>               
        <main class="content">
            <section id="section1">
                <h1>How to use MolDescriptor</h1>
                <h2 id="subsection1-1">Calculating molecular data from input the field</h2>
                <b>
                    Single molecule as input
                </b>
                <p>
                    MolDescriptor takes "simplified molecular-input line-entry system" (SMILES) as input. After the user inputs a SMILES, one can select the descriptors to be calculating by checking the descriptor checkboxes.
                </p>
                <b>
                    Multiple molecules as input
                </b>
                <p>
                    Moldescriptor can take multiple SMILES as input by adding a comma between each molecule. Example of multiple molecules as input:
                </p>
                <p>
                    <code>
                        n1ccccc1, CN1C=NC2=C1C(=O)N(C(=O)N2C)C, CC(CCOC(=O)CC(C)O)O
                    </code>
                </p>
                <b>Error handling</b>
                <p>
                    When you select the "Exclude Invalid SMILES from result" option, any invalid SMILES entries will be excluded from the displayed table on the website. If you do not select this option and an invalid SMILES is inputted, the table will show an "Error" row indicating the invalid SMILES.
                </p>
                <h2 id="subsection1-2">Calculating molecular data from uploading a CSV</h2>
                <b>Format of uploaded CSV</b>
                <p>
                    The CSV to be uploaded should contain one column of SMILES.
                </p>
                    <table>
                        <thead>
                            <tr>
                                <th>Example of a CSV in table format</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>C</td>
                            </tr>
                            <tr>
                                <td>O=C=O</td>
                            </tr>
                            <tr>
                                <td>CCO</td>
                            </tr>
                            <tr>
                                <td>C1CCCCC1</td>
                            </tr>
                        </tbody>
                    </table>
                <p>
                    Calculating molecular data from a CSV file is done by first selecting the descriptors one wants to calculate, then clicking the "Upload CSV" button. This will automatically calculate the contents of the CSV provided it is in the correct format.
                </p>
                <h2 id="subsection1-3">Downloading the results as a CSV</h2>
                <p>
                    Ater providing the input field with one or many smiles, the user can select the descriptors to be calculated. Pressing the "Download CSV" button will download a CSV file containing the SMILES and the selected descriptors.
                </p>
                <p>
                    When the user inputs the following molecules and select the checkboxes for Number of Atoms, Molecular Weight, Polar Surface Area, and clogP, the system will produce the following CSV:
                </p>
                
                <p>
                    <code>
                        Input: CCN(C)C(=O)C, c1ccccc1Cl, C1COCCO1
                    </code>
                </p>
                <p>
                    <table>
                        <thead>
                            <tr>
                                <th>SMILES</th>
                                <th>Number of C atoms</th>
                                <th>Number of Cl atoms</th>
                                <th>Number of H atoms</th>
                                <th>Number of N atoms</th>
                                <th>Number of O atoms</th>
                                <th>Number of atoms total:</th>
                                <th>MolecularWeight</th>
                                <th>PSA</th>
                                <th>clogP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CCN(C)C(=O)C</td>
                                <td>5</td>
                                <td></td>
                                <td>11</td>
                                <td>1</td>
                                <td>1</td>
                                <td>18</td>
                                <td>101.084063972</td>
                                <td>20.310000000000002</td>
                                <td>0.48460000000000003</td>
                            </tr>
                            <tr>
                                <td>c1ccccc1Cl</td>
                                <td>6</td>
                                <td>1</td>
                                <td>5</td>
                                <td></td>
                                <td></td>
                                <td>12</td>
                                <td>112.00797784</td>
                                <td>0.0</td>
                                <td>2.34</td>
                            </tr>
                            <tr>
                                <td>C1COCCO1</td>
                                <td>4</td>
                                <td></td>
                                <td>8</td>
                                <td></td>
                                <td>2</td>
                                <td>14</td>
                                <td>88.052429496</td>
                                <td>18.46</td>
                                <td>0.03320000000000001</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
                <p>
                    The name of the downloaded CSV will contain the name of the current RDKit version: <code>data_RDKit_[current-version].csv</code> 
                </p>
                <b>Error handling</b>
                <p>
                    By selecting the "Exclude Invalid SMILES from result" option, any invalid SMILES will be omitted from the CSV output. If this option is not selected, a new column named "Error" will be added to the CSV to highlight the invalid SMILES entries.
                </p>
            </section>
            

            <section id="section2">
                <h1>Descriptors</h1>

                <h2 id="subsection2-0">Processing and Visualization Options</h2>
                <p></p>
                    <h3 id="exclude-smiles">Exclude Invalid SMILES from result</h3>
                    <p>When processing a list of SMILES strings, not all of them might be valid representations of molecules. Invalid SMILES strings can cause issues when trying to compute descriptors or visualize molecules.</p>
                    <p>By checking the "Exclude Invalid SMILES from result" option, you ensure that:</p>
                    <ul>
                        <li>Any SMILES strings that can't be interpreted as valid molecules will be automatically excluded from the results.</li>
                        <li>You'll receive results only for valid molecular structures, making it more streamlined and error-free.</li>
                    </ul>
                    <p>This is particularly useful when batch processing multiple SMILES at once, as you won't have to manually filter out problematic strings.</p>
                    
                    <h3 id="display-molecule">Display Molecule</h3>
                    <p>When users submit a SMILES representation of a molecule, our system can generate a visual depiction of that molecule. If the "Display Molecule" option is checked, each submitted SMILES will be processed to generate an image representation of the molecule.</p>
                    <p>How It Works</p>
                    <ol>
                        <li>Retrieving Input: The application first retrieves the list of SMILES strings either from the uploaded CSV file or directly from the input field.</li>
                        <li>Validation: If the "Exclude Invalid SMILES" option is checked, the system filters out invalid SMILES representations.</li>
                        <li>Image Generation:
                            <ul>
                                <li>For each valid SMILES string, the system converts it into a molecular object using RDKit.</li>
                                <li>If the "Image" option is among the selected descriptors, the system generates an image representation of the molecule using the <code>Draw.MolToImage</code> function of RDKit.</li>
                                <li>This image is converted into a PNG format, buffered, and then encoded into a base64 string for embedding directly within the web page. This ensures that the image is viewable on the website but is not included in the downloadable CSV.</li>
                            </ul>
                        </li>
                    </ol>
                <h2 id="subsection2-1">RDkit Chem</h2>
                <p></p>
                    <h3 id="molecular-weight">Molecular Weight</h3>
                    <p>
                        The exact molecular weight of a molecule is calculated from the atomic weights of individual atoms. It represents the sum of the atomic weights of the constituent atoms in the molecule.
                    </p>
                    <code>RDKit Function: Descriptors.ExactMolWt(molecule)</code>
                    <h3 id="PSA">Polar Surface Area (PSA)</h3>
                    <p>
                        The topological polar surface area is a sum over all polar atoms, primarily oxygen and nitrogen, also including their attached hydrogens. It can be used as a measure of drug transport properties.
                    </p>
                    <code>RDKit Function: Descriptors.TPSA(molecule)</code>
                    <h3 id="QED">QED (Quantitative Estimation of Drug-likeness)</h3>
                    <p>
                        The Quantitative Estimate of Drug-likeness (QED) is a measure designed to reflect how "drug-like" a compound is in terms of physicochemical properties. A QED score closer to 1 typically indicates a more drug-like compound.
                    </p>
                    <code>RDKit Function: QED.qed(molecule)</code>
                    <h3 id="numAtoms">Number of Atoms</h3>
                    <p>
                        This provides the total count of atoms in a molecule, which can be useful for understanding the size and complexity of the molecule.
                    </p>
                    <code>RDKit Function: molecule.GetNumAtoms()</code>
                    <h3 id="SASA">Solvent Accessible Surface Area (SASA)</h3>
                    <p>
                        The Solvent Accessible Surface Area (SASA) is a measure of the surface area of a biomolecule that is accessible to a solvent. It's important in understanding interactions like protein-ligand binding.
                    </p>
                    <p>Calculating Solvent Accessible Surface Area</p>
                    <ol>
                        <li><p>Generate 3D coordinates for the molecule using <code>AllChem.EmbedMolecule(molecule, AllChem.ETKDG())</code></p></li>
                        <li><p>Classify atoms and get radii with <code>rdFreeSASA.classifyAtoms(molecule)</code></p></li>
                        <li><p>Use <code>rdFreeSASA.CalcSASA(molecule, radii, confIdx=-1, opts=sasa_opts)</code> with the appropriate SASA options.</p></li>
                    </ol>
                <h2 id="subsection2-2">RDkit Crippen</h2>
                <p></p>
                    <h3 id="clogP">clogP</h3>
                    <p>
                        The calculated logarithm of the partition coefficient between n-octanol and water (clogP). It's a measure of the hydrophobicity of the molecule and plays an important role in ADME predictions.
                    </p>
                    <code>RDKit Function: Crippen.MolLogP(molecule)</code>
            </section>

            <section id="section3">
                <h1>Section 3</h1>
            </section>
        </main>
    </div>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 50px 0;
            text-align: left;
        }
        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
    </style>
</body>
</html>
