<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <title>Documentation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/docs.css') }}">
</head>
<body>
    <div class="top-bar">
        <div class="logo"><a class="title-link" href="{{ url_for('index') }}">MolDescriptor</a></div>
        <div class="links">
            <a href="{{ url_for('draw') }}" class="draw-link">DRAW</a>
            <a href="{{ url_for('docs') }}" class="docs-link">DOCS</a>
            <a href="{{ url_for('about') }}" class="about-link">ABOUT</a>   
        </div>
    </div>
    <div class="container">
        <aside class="toc">
            <h2>Table of Contents</h2>
            <ul>
                <li><a href="#section1">Using MolDescriptor</a>
                    <ul>
                        <li><a href="#subsection1-1">Calculating molecular data from input the field</a></li>
                        <li><a href="#subsection1-2">Calculating molecular data from uploading a CSV</a></li>
                        <li><a href="#subsection1-3">Downloading the results as a CSV</a></li>
                    </ul>
                </li>
                <li><a href="#section2">Descriptors</a>
                    <ul>
                        <li><a href="#subsection2-1">RDkit Chem</a></li>
                        <li><a href="#subsection2-2">RDkit ...</a></li>
                    </ul>
                <li><a href="#section3">Section 3</a></li>
            </ul>
        </aside>        
        <main class="content">
            <section id="section1">
                <h1>How to use MolDescriptor</h1>
                <h2 id="subsection1-1">Calculating molecular data from input the field</h2>
                <b>
                    Single molecule as input
                </b>
                <p>
                    MolDescriptor takes "simplified molecular-input line-entry system" (SMILES) as input. After the user inputs a SMILES, one can select the descriptors to be calculating by checking the descriptor checkboxes.
                </p>
                <b>
                    Multiple molecules as input
                </b>
                <p>
                    Moldescriptor can take multiple SMILES as input by adding a comma between each molecule. Example of multiple molecules as input:
                </p>
                <p>
                    <code>
                        n1ccccc1, CN1C=NC2=C1C(=O)N(C(=O)N2C)C, CC(CCOC(=O)CC(C)O)O
                    </code>
                </p>
                <h2 id="subsection1-2">Calculating molecular data from uploading a CSV</h2>
                <p>
                    ...
                </p>
                <h2 id="subsection1-3">Downloading the results as a CSV</h2>
                <p>
                    ...
                </p>
            </section>
            

            <section id="section2">
                <h1>Descriptors</h1>
                <h2 id="subsection2-1">RDkit Chem</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis knostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h2 id="subsection2-2">RDkit ...</h2>
                <p>Another paragraph about a different aspect of using MolDescriptor...</p>
            </section>

            <section id="section3">
                <h1>Section 3</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis knostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </section>
        </main>
    </div>
</body>
</html>
