<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <title>draw</title>
</head>
<body>
    <div class="top-bar">
        <div class="logo"><a class="title-link" href="{{ url_for('index') }}">MolDescriptor</a></div>
        <div class="links">
            <a href="{{ url_for('draw') }}" class="draw-link">DRAW</a>
            <a href="{{ url_for('docs') }}" class="docs-link">DOCS</a>
            <a href="{{ url_for('about') }}" class="about-link">ABOUT</a>    
        </div>
    </div>
    
    <iframe src="http://192.168.0.120:8501" title="drawing tool" height="800" width="1200"></iframe>



    
    

</body>
</html>