<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <title>feedback</title>
</head>
<body>
    <div class="top-bar">
        <div class="logo"><a class="title-link" href="{{ url_for('index') }}">MolDescriptor</a></div>
        <div class="links">
            <a href="{{ url_for('feedback') }}" class="feedback-link">FEEDBACK</a>
            <a href="{{ url_for('docs') }}" class="docs-link">HELP</a>
            <a href="{{ url_for('about') }}" class="about-link">ABOUT</a>    
        </div>
    </div>
    <div class="content">
        <h1>Feedback 🛠️</h1>
        <p>
            We are always looking for ways to improve our website. If you have any suggestions, or encounter an issue, please let us know by either submitting an issue to our <a href="https://github.com/masve123/molecule-descriptors-webtool">GitHub-page.</a>, or send an email to illimar.rekand@uib.no 
        </p>
        <b>Test our website</b>
        <p>
            MolDescriptor is still in development, and we need your help to make it better.
        </p>
            If you want to test out the features of this website, you can give us feedback by using this <a href="https://forms.gle/KYXbpfnEwm9xsDKV9">Google Forms-link.</a>
            The data you provide will be used to improve the website.
            The feedback form is completely anonymous and we will not collect any personal information.

            At the end of the form you are asked if you want to provide your email address if you want to be contacted about your feedback. Note that this is completely optional.
        <p>
        <p>
            Thank you for helping us improve MolDescriptor!
        </p>
        <!--<b>Contact us about improvements or if something is not working</b>
        <p>
            Send us an email: 
        </p>-->
    </div>
    

</body>
</html>
