<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <title>MolDescriptor</title>

</head>

<body>

    <div class="top-bar">
        <div class="logo"><a class="title-link" href="{{ url_for('index') }}">MolDescriptor</a></div>
        <div class="links">
            <a href="{{ url_for('draw') }}" class="draw-link">DRAW</a>
            <a href="{{ url_for('docs') }}" class="docs-link">DOCS</a>
            <a href="{{ url_for('about') }}" class="about-link">ABOUT</a>            
        </div>
    </div>

    <div class="form-container">
        <h1 class="subheader"><span class="mol">Mol</span><span class="descriptor">Descriptor</span></h1>
        <form action="/identify_molecule" method="post" enctype="multipart/form-data">
            <input type="text" id="smiles" name="inputField" placeholder="Type your molecule's SMILES here (e.g., n1ccccc1)" required>
            <br>
            <!-- Tabs navigation -->
            <div class="tabs">
                <ul class="tab-list">
                    <div class="tab active" onclick="showTab(event, 'rdkit-chem')">RDKit Chem</div>
                    <div class="tab" onclick="showTab(event, 'rdkit-Lipinski')">RDKit Lipinski</div>
                    <div class="tab" onclick="showTab(event, 'rdkit-crippen')">RDKit Crippen</div>
                    <div class="tab" onclick="showTab(event, 'rdkit-QED')">RDKit QED</div>   
                    <div class="tab" onclick="showTab(event, 'rdkit-rdFreeSASA')">RDKit rdFreeSASA</div>
                    <div class="tab" onclick="showTab(event, 'rdkit-AllChem')">RDKit AllChem</div>       
                </ul>
            </div>


            <div class="tab-contents">
                <!-- RDKit Chem Tab Content -->
                <div class="special-checkbox">
                    <label><input type="checkbox" name="excludeInvalid" value="true" checked> Exclude Invalid SMILES from result</label>
                    <label><input type="checkbox" name="displayOptions" value="Image" checked> Display Molecule</label>
                </div>
                
                <div id="rdkit-chem" class="tab-content">
                    <div class="checkbox-container">
                        <label><input type="checkbox" name="displayOptions" value="MolecularWeight"> Molecular Weight</label>
                        <label><input type="checkbox" name="displayOptions" value="PSA"> Polar Surface Area</label>
                        <label><input type="checkbox" name="displayOptions" value="numberOfAtoms"> Number of Atoms</label>
                    </div>
                </div>
                
                <!-- RDKit Other Tab Content -->
                <div id="rdkit-Lipinski" class="tab-content" style="display: none;">
                    <div class="checkbox-container">
                        <label><input type="checkbox" name="displayOptions" value="NumHDonors"> Number of H-Bond Donors</label>
                        <label><input type="checkbox" name="displayOptions" value="NumHAcceptors"> Number of H-Bond Acceptors</label>
                        <label><input type="checkbox" name="displayOptions" value="NumRotatableBonds"> Number of Rotatable Bonds</label>
                    </div>
                </div>
                
                <div id="rdkit-crippen" class="tab-content" style="display: none;">
                    <div class="checkbox-container">
                        <label><input type="checkbox" name="displayOptions" value="clogP"> clogP</label>
                    </div>
                </div>

                <div id="rdkit-QED" class="tab-content" style="display: none;">
                    <div class="checkbox-container">
                        <label><input type="checkbox" name="displayOptions" value="QED"> QED</label>
                    </div>
                </div>

                <div id="rdkit-rdFreeSASA" class="tab-content" style="display: none;">
                    <div class="checkbox-container">
                        <label><input type="checkbox" name="displayOptions" value="FreeSASA"> Solvent Accessible Surface Area</label>
                    </div>
                </div>

                <div id="rdkit-AllChem" class="tab-content" style="display: none;">
                    <div class="checkbox-container">
                    </div>
                </div>
            </div>
            <div class="button-group">
                <input type="submit" value="Get Result">
                <input type="submit" formaction="/download_csv" value="Download CSV">
                <label for="csvFile" class="file-upload-label">Upload a CSV</label>
                <input type="file" id="csvFile" name="csvFile" accept=".csv">
            </div>
            
        </form>
        
        {% if descriptors_list %}
        <h2>Descriptors:</h2>
        {% for descriptors in descriptors_list %}
        <h3>SMILES: {{ descriptors['SMILES'] }}</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Descriptor</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in descriptors.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>
                        {% if key == "Image" %}
                        <img src="data:image/png;base64,{{ value }}" alt="Molecule Image" width="200"> <!-- Adjust width as needed -->
                        {% else %}
                        {{ value }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>
        {% endfor %}
        <a href="{{ url_for('index') }}" class="refreshButton">Clear</a>
        {% endif %}
        {% if error %}
        <div class="error-message">
     {{ error }}
</div>
{% endif %}

        
    </div>
    <div class="rdkit-badge">
        <a href="https://www.rdkit.org/"><img alt="Powered by RDKit" src="https://img.shields.io/badge/Powered%20by-RDKit-3838ff.svg?logo=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAFVBMVEXc3NwUFP8UPP9kZP+MjP+0tP////9ZXZotAAAAAXRSTlMAQObYZgAAAAFiS0dEBmFmuH0AAAAHdElNRQfmAwsPGi+MyC9RAAAAQElEQVQI12NgQABGQUEBMENISUkRLKBsbGwEEhIyBgJFsICLC0iIUdnExcUZwnANQWfApKCK4doRBsKtQFgKAQC5Ww1JEHSEkAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMi0wMy0xMVQxNToyNjo0NyswMDowMDzr2J4AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjItMDMtMTFUMTU6MjY6NDcrMDA6MDBNtmAiAAAAAElFTkSuQmCC"></a>
    </div>

    <script>
        function showTab(event, tabId) {
            // Hide all tab contents
            var contents = document.querySelectorAll(".tab-content");
            for (var i = 0; i < contents.length; i++) {
                contents[i].style.display = 'none';
            }

            // Deactivate all tabs
            var tabs = document.querySelectorAll(".tab");
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove('active');
            }

            // Show selected tab content and activate the tab
            document.getElementById(tabId).style.display = 'block';
            event.target.classList.add('active');
        }
        
        document.getElementById('csvFile').addEventListener('change', function() {
            if (this.value) {
                this.form.submit();
            }
        });
    </script>
    
</body>    

</html>