<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>MolDescriptor</title>
</head>

<body>

    <div class="top-bar">
        <div class="logo"><a class="title-link" href="index.html">MolDescriptor</a></div>
        <div class="links">
            <a href="pages/draw.html" class="draw-link">DRAW</a>
            <a href="pages/docs.html" class="docs-link">DOCS</a>
            <a href="pages/about.html" class="about-link">OM</a>
        </div>
    </div>

    <div class="form-container">
        <h1 class="subheader">PyDescriptor</h1>
        <form action="/identify_molecule" method="post">
            <label for="inputField">Input a molecule using the 'SMILES' format:</label>
            <br>
            <input type="text" id="smiles" name="inputField" placeholder="n1ccccc1" required>
            <div class="checkbox-container">
                <label><input type="checkbox" name="displayOptions" value="MolecularWeight"> Molecular Weight</label>
                <label><input type="checkbox" name="displayOptions" value="PSA"> Polar Surface Area</label>
                <!-- Add other checkboxes here -->
            </div>
            <input type="submit" value="Get Result">
        </form>
        {% if descriptors %}
        <h2>Descriptors:</h2>
        <ul>
            {% for key, value in descriptors.items() %}
            <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div id="resultArea"></div>
    </div>
</body>

</html>